<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- границы случайного диапазона времени между запросами -->
    <add key="TimeMsBetweenQueries" value="250" />
    <!-- количество запросов (если не указано,то запросы отсылаются пока приложение работает) -->
    <add key="CountRequest" value="0" />
    <add key="UrlApiOperationService" value="http://localhost:8088/api/operation/"/>
  </appSettings>
</configuration>